body {
	background-color: #EBECF1FC;
}

/* header */

.qr-img .code-img {
	width: 82px;
	height: 82px;
	margin-left: 50px;
}

.qr-img .right-code-img {
	width: 82px;
	height: 82px;
}

.qr-img i {
	color: black;
	margin-right: 80px;
}

.qr-img a {
	text-decoration: none;
}

.header-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-item .qr-img {
	display: flex;
    align-items: center;
}

.header-item .header-text-icon {
	display: flex;
}

.head-text-icon img {
	width: 121px;
	height: 40px;
}

.header-item .header-text {
	color: #BDB9B9;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
}

.header-item .header-text:hover {
	color: #8a8a8a;
}

.header-text-icon a {
	text-decoration: none;
}

.header-item .header-icon {
	border: 1.5px solid transparent;
}

.header-icon a {
	text-decoration: none;
	color: #BDB9B9;
}

.header-icon a:hover {
	color: #6b6b6b;
}

.head-text-icon {
	display: flex;
	align-items: center;
}

.head-text-icon a {
	text-decoration: none;
	margin-right: 80px;
}

.head-text {
	color: #BDB9B9;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;
	transition: .3s all ease-in;	
}

.qr-img .head-texts {
	text-decoration: none;
	color: #BDB9B9;
	font-weight: bold;
	font-size: 15px;
	line-height: 17px;	
}


.head-text.active {
	margin-right: 51px;
}

.head-text:hover {
	color: #748EE9;
	font-size: 22px;
	line-height: 25px;	
}

/* */

/* section */

.section {
	margin-top: 30px;
}

.section-item .section-details {
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-title {
	display: flex;
	align-items: center;
	opacity: 30%;
}

.section-title a {
	text-decoration: none;
}

.section-title i {
	color: #929292;
	margin-left: 31px;
	opacity: 30%;
}

.section-title .text {
	color: #929292;
	font-weight: bold;
	font-size: 50px;
	line-height: 57px;
}

.section-details .right-text-icon {
	display: flex;
	align-items: center;
}

.right-text-icon a {
	text-decoration: none;
}

.right-text-icon i {
	margin-left: 11.58px;
	color: black;
	font-size: 12px;
}

.right-text-icon .right-text {
	color: #212020;
	font-size: 17px;
}

.section-item .section-slide {
	display: flex;
	align-items: center;
	margin-top: 70px;
}

.section-slide .section-img {
	margin-right: 25px;
}

.section-img img {
	width: 160px;
	height: 160px;
	border-radius: 6px;
	transition: .3s all ease-in-out;
}

.section-img.long img {
	width: 160px;
	height: 236px;
	object-fit: cover;
	border-radius: 6px;
}


/* .section-img img:hover  {
	width: 220px;
	height: 220px;
} */

/* */

/* adv-section */

.adv {
	margin-top: 30px;
	margin-bottom: 20px;
}

.adv-texts .adv-text {
	color: #212020;
	font-weight: 500;
	font-size: 20px;
	line-height: 23px;
}

.adv-counts {
	margin-top: 20px;
}

.adv-counts .adv-count {
	color: #212020;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.adv-details .adv-section {
	margin-top: 50px;
	width: 100%;
	height: 250px;
	background: #C4C4C4;
	border-radius: 10px;
	display: flex;
	justify-content: center;
    align-items: center;
}

.adv-section-text {
	color: #000000;
	font-weight: bold;
	font-size: 58px;
	line-height: 67px;
}


/* */

/* film */

.film {
	margin-top: 43px;
}

.film-img-texts .film-img {
	width: 100%;
	height: 190px;
	object-fit: cover;
	border-radius: 6px;
}

.film-title .film-count {
	margin-top: 20px;
	margin-bottom: 15px;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 18px;	
}

.film-texts .film-text {
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 140%;
	margin-bottom: 50px;	
}

.film-title a {
	text-decoration: none;
    color: black;
}

.film-texts a {
	text-decoration: none;
	color: black;
}


/* */

/* channel */

.channel {
	margin-top: 70px;
	margin-bottom: 50px;
}

.channel-title .title {
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 41px;	
}

.channel-detail .grey-block {
	width: 100%;
	height: 480px;
	background: #C4C4C4;
	border-radius: 17px;
	display: flex;
    align-items: center;
    justify-content: center;
    font-size: 8rem;
	color: #8E8E8E;
}

.channel-detail .text-icon {
	color: #858585;
	margin-top: 28px;
	display: flex;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 18px;	

}

.text-icon .text {
	margin-left: 7px;
}

.channel-detail .channel-adv {
	width: 100%;
    height: 115px;
    background: #C4C4C4;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 43px;
}

.channel-adv .channel-section-text {
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
}

.channel-details .channel-title {
	margin-bottom: 50px;
}

.channel-texts {
	display: flex;
	font-size: 18px;
	line-height: 21px;
	margin-bottom: 32px;
}

.channel-items .channel-texts.now {
	color: black;
}

.channel-text {
	margin-left: 20px;
}

.channel-items .channel-texts.active {
	color: #748EE9;
}

.channel-items .channel-texts.after {
	color: #9A9A9A;
}

/* */

.mob {
	display: none;
}

.mob-menu-section {
	display: none;
}



@media screen and (max-width: 990px) {

	.header {
		display: none;
	}

	.mob {
		display: block;
		margin-top: 56px;
	}

	.mob-app .mob-app-details {
		display: flex;
		justify-content: space-between;
		align-items: center;	
	}

	.mob-img-text {
		display: flex;
	}

	.mob-img-text .mob-img {
		width: 67px;
		height: 67px;
		border: 1px solid #EAECF5;
		box-sizing: border-box;
		border-radius: 15px;	
	}

	.mob-texts .mob-text {
		font-style: normal;
		font-weight: 500;
		font-size: 16px;
		line-height: 18px;
		margin-left: 8px;	
	}

	.mob-texts .mob-count {
		font-weight: 500;
		font-size: 13px;
		line-height: 15px;
		color: #A2A1A7;
		margin-left: 8px;	
	}

	.mob-right-texts .mob-right-text {
		text-transform: uppercase;
		color: #3F8DD7;
		font-weight: 500;
		font-size: 18px;
		line-height: 21px;	
	}
	
	.mob-menu-section {
		display: block;
		margin-top: 30px;
	}

	.mob-menu-texts .menu-texts {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.menu-texts .menu-text-icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.menu-text-icon .menu-text {
		font-style: normal;
		font-weight: bold;
		font-size: 15px;
		line-height: 17px;	
		color: #BDB9B9;
	}

	.menu-text-icon .menu-text {
		margin-right: 30px;
		transition: .3s all ease-in-out;
	}

	.menu-text:hover {
		color: #748EE9;
		font-size: 22px;
		line-height: 25px;	
	}

	/* section */

	.section {
		margin-top: 40px;
	}

	.section-details .right-text-icon {
		display: none;
	}

	.section-title i {
		margin-left: 20px;
		opacity: 0.3;	
	}

	.section-title .text {
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		line-height: 40px;
		color: #929292;
		opacity: 0.3;	
	}

	.section-item .section-slide {
		margin-top: 62px;
	}

	/* */

	/* adv-texts */

	.adv {
		margin-top: 17px;
		margin-bottom: 50px;
	}

	.adv-texts .adv-text {
		font-weight: 500;
		font-size: 17px;
		line-height: 20px;	
	}

	.adv-details .adv-counts {
		margin-top: 13px;
	}
	.adv-details .adv-section {
		height: 121px;
	}

	.adv-counts .adv-count {
		font-style: normal;
		font-weight: bold;
		font-size: 22px;
		line-height: 25px;	
	}

	.adv-section .adv-section-text {
		font-style: normal;
		font-weight: bold;
		font-size: 36px;
		line-height: 41px;	
	}

	/* */

	.site-name {
		font-size: 35px;
		text-transform: uppercase;
		color: rgb(243 0 0);
		font-weight: bold;
	}

	.film {
		margin-top: 23px;
	}

	.film-title .film-count {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.film-texts .film-text {
		margin-bottom: 30px;
	}

	.channel-detail .text-icon {
		margin-top: 20.75px;
	}

	.adv-counts {
		margin-top: 15px;
	}


	.channel-detail .channel-adv {
		margin-top: 50px;
		margin-bottom: 50px;
	}

}
    
